<div class="ui inverted menu nav">
    <div class="ui container">
      <a href=" " class="item">
          <h3>FaceBook2</h3>
      </a>
      <a href=" " class="item">
          Home
      </a>
        <div class="right menu">
            <a href="" class="item">
                {{ request.user }}
            </a>
            <a href="" class="ui item">
                Logout
            </a>
        <a href="" class="ui item">
                Login
            </a>
        </div>
    </div>
</div>