<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tile %}{%endblock%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styling.css' %}">    
    <!-- <link rel="icon" href="/static/styles/favicon.ico"> -->

   
</head>
<body>
    <!-- NAVBAR -->
    <nav>
        <div class = "nav_container">
            <!-- LEFT-NAV -->
            <div class="left">
                <!-- LOGO-WEB-PAGE -->
                <a href="/">
                    <img src="/static/styles/Logo.png" style="width: 3rem; aspect-ratio: 1/1; border-radius: 50%; overflow: hidden;">               
                </a>
                <!-- SEARCH-BOX -->
                <form action="{% url 'search'%}" method="POST">
                    {% csrf_token %}
                    <div class="search-bar">
                        <ion-icon name="search-outline"></ion-icon>
                        <input type="search" class="" name="searched" placeholder="finding bla bla" >
                        <!-- <button class="Search-button" type="submit"></button> -->
                    </div>
                </form>
            </div>
            
            <!-- RIGHT-NAV -->
            <div class="right">
                <!-- *ID-AVATAR-USER-PROFILE -->
                {% if request.user.is_authenticated %}
                <div class="avatar_container">
                    <a href="/user_page/{{request.user.id}}" >
                        <img src="{{request.user.avatar.url}}" style="width: 3rem; aspect-ratio: 1/1; border-radius: 50%; overflow: hidden;">
                    </a>
                </div>

                <!-- MENU-LOGIN/LOGOUT -->
                <a href="{% url 'logout' %}" class="but" >
                    Logout
                </a>
                {%else%}
                <a href="{% url 'login'%}" class="but">
                    Login
                </a>
                {%endif%}
            </div>
    
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
   

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>