{% extends 'base.html' %}
{% load static %}

{% block title %}ChatMessage{% endblock title %}

{% block content %}
<div style="display: flex; flex-direction: row;  position: fixed; width: 100%;">
    
    <div class="back-container">
        
        <div class="contacts">
            <div class="user_box">
                {% for user in users %}
                <a href="{% url 'chat_page' username=user.username %}" class="box">
                
                    <div class="user">
                        <img src="{{user.avatar.url}}" alt="{{user.avatar}}" class="profile-image">        
                        <div class="name">
                            {{user.first_name}} {{user.last_name}} <br>
                            @{{user.username}}
                        </div>
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="message_box" >
        <div class="conversation">
            <div class="conversation_user">
                <img src="{{user.avatar.url}}" alt="" class="profile-image">
                <span class="ml-2">{{user.username}}</span>
                {% if user.online_status %}
                    <small id="{{user.username}}_small">&#128994;</small>
                {% else %}
                    <small id="{{user.username}}_small">&#128308;</small>
                {% endif %}
            </div>
            <div class="message-table-scroll">
                <table class="table">
                    <tbody id='chat-body'>
                        {% for message in messages %}
                            {% if message.sender == request.user.username %}
                            <tr>
                                <td style="border-right: 1px solid black;">
                                    <p class="bg-success p-2 mt-2 mr-5 shadown-sm text-white float-right rounded" style="word-wrap: break-word; width: 300px;" >
                                        {{message.message}}
                                    </p>
                                </td>
                                <td>
                                    <p><small>{{message.timestamp|time:'H:i'}}</small>
                                    </p>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td style="border-right: 1px solid black;">
                                    <p class="bg-primary p-2 mt-2 mr-5 shadown-sm text-white float-left rounded" style="word-wrap: break-word; width: 300px;">
                                        {{message.message}}
                                    </p>
                                </td>
                                <td>
                                    <p><small>{{message.timestamp|time:'H:i'}}</small>
                                    </p>
                                </td>
                            </tr>
                            {% endif %} 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="message-box">
                <div class="col-sm-8">
                        <input type="text" class="form-control" id="message_input" placeholder="Write message...">
                </div>
                <div class="col-sm-2 mt-1">
                    <div class="control">
                        <button class="btn btn-success" id="chat-message-submit">Send</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{user.id|json_script:"json-username"}}
{{request.user.username|json_script:"json-message-username"}}
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/online_status.js' %}"></script>
{% endblock %}
