{% extends 'base.html' %}

{% block tile %}Mặt sách vơ 2{% endblock tile %}

{%block content%}
{% load static %}
{% if request.user.is_authenticated %}

    <main>
    <div class="container">
        <div class="left">
            <a href="/user_page/{{request.user.id}}" class="sidebar-profile">
                <div class="profile_avatar">
                    <div class="border_avatar_home">
                        <img src="{{request.user.avatar.url}}" class="photo_image">
                    </div>
                    <div style="display: flex; flex-direction:column;">
                        <p class="name">{{request.user.first_name}} {{request.user.last_name}}</p>
                        <p class="mention">@{{request.user}}</p>
                    </div>
                </div>
            </a>
    
            <!-- SIDEBAR -->
            <div class="sidebar-left">
                <a href="/" class="menu-items">
                    <span style="margin-left: 2rem;"><ion-icon name="home-outline"></ion-icon></span><h3>Home</h3>
                </a>
                <a href="/following" class="menu-items active">
                    <span style="margin-left: 2rem;"><ion-icon name="checkmark-circle-outline"></ion-icon></span><h3>Follow</h3>
                </a>
                <a href="/chat_room" class="menu-items">
                    <span style="margin-left: 2rem;"><ion-icon name="chatbubbles-outline"></ion-icon></span><h3>Messages</h3>
                </a>
                <a href="{% url 'logout' %}" class="menu-items">
                    <span style="margin-left: 2rem;"><ion-icon name="log-out-outline"></ion-icon></span><h3>Logout</h3>
                </a>
            </div>

            <!-- CREATE-BOX-LEFT -->
            <!-- <label for="create-post" class="btn btn-primary">CREATE POST</label> -->
        </div>
        
        <div class="middle">
            {% for article in articles %}
            {% if article.author in user.follows.all %}
            <div class="post_container">
                <!-- POST -->
                <div class="post" >
                    <!-- INFOR'S POST -->
                    <div class="post_header">
                        <div class="user_name">
                            <a href="/user_page/{{article.author.id}}" class="name" >
                                <img src="{{article.author.avatar.url}}" class="photo_image"> 
                            </a> 
                            <div>
                                <a href="/user_page/{{article.author.id}}"><p class="name">{{article.author.first_name}} {{article.author.last_name}}</p>
                                <p class="mention">@{{article.author.username}}</p></a>
                            </div>
                        </div>
                        <div class="right">
                            {{article.created|timesince}} ago
                            <span class="edit">
                                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                            </span>
                        </div>
                    </div>
        
                    <!-- CONTENT-POST -->
                    <div class="content">
                        <div class="post_content">
                            {{article.content|linebreaks}}
                        </div>    
                        <div>
                            {% if article.image != '' %}
                                <img src="{{article.image.url}}" class="post_image">
                            {% endif %}
                        </div>
                    </div>
        
                    <!-- INTERACT-POST -->
                    <div class="interact">
                        <div class="interact_button">
                            <form action="{% url 'like_post' %}" method="POST" id="{{article.id}}" class="like-form like">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{article.id}}>
                                <button type="submit"  class="like-btn{{article.id}} icon1">
                                    {% if request.user in article.liked.all%}
                                        <i><ion-icon name="heart-dislike-outline"></ion-icon></i>
                                    {%else%}
                                        <i><ion-icon name="heart-outline"></ion-icon></i> 
                                    {%endif%}
                                </button>
                                <div class="like-count{{article.id}} count">{{article.liked.count}}</div>
                            </form>

                            <span><ion-icon name="chatbox-ellipses-outline"></ion-icon></span>
                            <span><ion-icon name="share-social-outline"></ion-icon></span>
                        </div>

                        <div class="bookmark">
                            <span><ion-icon name="bookmark-outline"></ion-icon></span>
                        </div>
                    </div>
        
                    <!-- VIEW-POST -->
                    <div class="view-post">
                        <div class="comments text-muted">View all ... comments</div>
                    </div>
                </div>
            </div>
            {%endif%}
            {% endfor %}
        </div> 
    
        <div class="right">
           <div class="messages">
                <div class="heading">
                    <h3>Messages</h3>
                    <ion-icon name="create-outline"></ion-icon>
                </div>

                <div class="search-bar">
                    <ion-icon name="search-circle-outline"></ion-icon>
                    <input type="search" placeholder="Search messages" id="message-search">
                </div>

                <div class="category">
                    <h4 class="active">Primary</h4>
                    <h4>General</h4>
                    <h4 class="message-requests">Requests</h4>
                </div>

                <div></div>
           </div>
        </div>
    </div>
    </main>
{% endif %}

{%endblock content%}

{%block script%}
<script>
$(document).ready(function(){
    console.log('Working')
})
</script>
{%endblock script%}