{% extends 'base.html' %}

{% block tile %}Mặt sách vơ 2{% endblock tile %}

{%block content%}
{% load static %}
{% if request.user.is_authenticated %}

    
    {% for article in articles %}
    <div class="post_container">
        <div class="post" >
            <div class="header">
                <div class="user_name">
                    <a href="/user_page/{{article.author.id}}" class="name" >
                        <img src="{{article.author.avatar.url}}" class="avatar_image"> 
                    </a> 
                    <div>
                        <a href="/user_page/{{article.author.id}}" class="name">{{article.author.first_name}} {{article.author.last_name}}</a>
                        <a href="/user_page/{{article.author.id}}" class="mention">
                            @{{article.author.username}}
                        </a>
                    </div>
                </div>
                <div class="right">
                    {{article.created|timesince}} ago
                </div>
            </div>
            <div class="post_content">
                {{article.content|linebreaks}}
            </div>    
            <div>
                {% if article.image != '' %}
                    <img src="{{article.image.url}}" class="post_image">
                {% endif %}
            </div>
            <div class="like_cmt">
                <div class="box">
                    <form action="{% url 'like_post' %}" method="POST" id="{{article.id}}" class="like-form">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{article.id}}>
                        <button type="submit"  class="like-btn{{article.id}}">
                            {% if request.user in article.liked.all %}
                                Unlike 
                            {% else %}
                                Like
                            {% endif %}
                        </button>
                        <div class="like-count{{article.id}}">{{article.liked.count}}</div>
                    </form>
                </div>
                <div class="box">
                </div>
                <div class="box">
                    <a href="">Share</a>
                </div>
            </div>
            {% if article.comment_set.all %}
            <div id="comments-list">
                {% for comment in article.comment_set.all %}
                    <p>{{comment.body}}</p>
                {% endfor %}
                </div>
            {% endif %}
            <form method="POST" id = "{{article.id}}" class="comment-form">
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{article.id}}>
                <input type="text" name="body">
                <button class="ui primary button" type="submit" name = "submit_commentform">Comment</button>
            </form>
        </div>
    </div>    
    {% endfor %}      
{% endif %}
{%endblock content%}
{% block javascript %}
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/comment.js' %}"></script>
{% endblock %}
