{% extends "base.html" %}
{% block content %}
{% if page == 'login' %}
    <div>
        <form method="POST" action="" class="login_form_container">
            {% csrf_token %}
            <div class="form_box">
                <div>
                    <h2 class="note">LOGIN</h2>
                </div>
                <div class="input_text">
                    <label>USERNAME</label>
                    <input type="text" name="Username" placeholder="Enter Username"/>
                    
                </div>
                <div class="input_text">
                    <label>PASSWORD</label>
                    <input type="password" name="Password" placeholder="Enter Password"/>
                </div>
                <div class="button_container">
                    <input type="submit" value="Login" class="submit_button">
                </div>
                <p class="reg_container">Haven't signed up yet? <a href="{%url 'register' %}">Register</a></p>
                
                {% if messages %}
                    <p class="error">
                        {% for message in messages %}
                        <span>{{ message }}</span>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </form>
        
    </div>
{%else%}
    <div>
        <form method="POST" action="" class="register_form_container">
            {% csrf_token %}
            <div class="register_form_box">
                <div>
                    <h2 class="note">REGISTER</h2>
                </div>
                <div class="input_text">
                    <label >USERNAME:</label>
                    {{form.username}}
                </div>
                <div class="input_text">
                    <label >FIRST NAME:</label>
                    {{form.first_name}}
                </div>
                <div class="input_text">
                    <label >LAST NAME:</label>
                    {{form.last_name}}
                </div>
                <div class="input_text">
                    <label >PASSWORD:</label>
                    {{form.password1}}
                </div>
                <div class="input_text">
                    <label >RE-ENTER PASSWORD:</label>
                    {{form.password2}}
                </div>
                <div class="button_container">
                    <input type="submit" value="Register" class="submit_button">
                </div>
                {% if messages %}
                    <p class="error">
                        {% for message in messages %}
                        <span>{{ message }}</span>
                        {% endfor %}
                    </p>
                {% endif %}
                <p class="reg_container">Already signed up? <a href="{%url 'login'%}">Login</a></p>
            </div>
        </form>
        
    </div>
{%endif%}
{% endblock content %}