{% extends "base.html" %}

{% block content%}
<center>
    {% if searched %}
        {% if search_type == 'username' %}
            <h1>You Searched for {{ searched }} by Username</h1>
            <br/>
            {% for profile in profiles %}
                <a href="{% url 'user_page' profile.id %}">{{ profile }}</a><br/>
            {% endfor %}
        {% elif search_type == 'post' %}
            <h1>You Searched for {{ searched }} by Post</h1>
            <br/>
            {% for post in posts %}
            <h2>{{ post.content }}</h2> <!-- Hiển thị nội dung của bài viết -->
            <p>Posted by: <a href="{% url 'user_page' post.author_id %}">{{ post.author }}</a></p> <!-- Hiển thị tên người đăng bài viết -->
            <hr>
            {% endfor %}

        {% endif %}
    {% else %}
        <h1>Hey! You Forgot to Search!!</h1>
    {% endif %}
    </center>
{% endblock %}