{% extends "base.html" %}

{% block tile %}setting{% endblock tile %}

{% block content%}
<div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {%for field in form %}
        <div class="form__group">
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        {% if messages %}
        <p class="error">
            {% for message in messages %}
            <span>{{ message }}</span>
            {% endfor %}
        </p>
        {% endif %}
        {{form.error}}
        <a href="{{request.META.HTTP_REFERER}}">Return</a>
        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}