{% extends "base.html" %}
{%load static %}

{% block tile %}{{user.username}}{% endblock tile %}
{% block content %}

    <!-- Sidebar in profile -->
    <div class="container">
        <div class="profile-sidebar">
            <div class="profile">
                <div class="avatar">
                    <img src="{{user.avatar.url}}" >
                </div>
    
                <div class="name">
                    <h1>
                    {%if user.first_name%}
                        <p>{{user.first_name}} {{user.last_name}} </p>
                    {%else%}
                        <p>No name yet </p>
                    {% endif %}
                    </h1>
                </div>
    
                <span>@{{user.username}}</span>
            </div>
    
            <div class="about">
                <div class="box">
                    <h3>...</h3>
                    <span>Posts</span>
                </div>
                <div class="box">
                    <h3>{{user.followed_by.count}}</h3>
                    <span>Followed</span>
                </div>
                <div class="box">
                    <h3>{{user.follows.count}}</h3>
                    <span>Following</span>
                </div>
            </div>
    
            <div class="menu">
                <a href="#" class="active">
                    <span class="icon">
                        <ion-icon name="book-outline"></ion-icon>
                    </span>
                    Posts
                </a>
    
                <a href="/chat_room" class="active">
                    <span class="icon">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </span>
                    Message
                </a>
                <a href="#" class="active">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    logout
                </a>
            </div>
        </div>

        <div class="profile-home">
            <div class="header">
                <div class="header-left">
                    <ion-icon name="search-outline"></ion-icon>
                    <input type="text" placeholder="Search...">
                </div>
        
                <div class="header-right">
                    <ion-icon name="notifications-outline"></ion-icon>
                    <ion-icon name="mail-unread-outline"></ion-icon>
                    <a href="#" class="btn-add">
                        <div class="btn-str"><ion-icon name="add-circle-outline"></ion-icon>Add post</div>
                    </a>
                </div>
            </div>
        </div>
    </div> 



{%endblock content%}