{% extends "base.html" %}
{%load static %}

{% block tile %}{{user.username}}{% endblock tile %}
{% block content %}


    <div class="profile-sidebar">
        <div class="profile">
            <div class="avatar">
                <img src="{{user.avatar.url}}" >
            </div>

            <div class="name">
                <h1>
                {%if user.first_name%}
                    <p>{{user.first_name}} {{user.last_name}} </p>
                {%else%}
                    <p>No name yet </p>
                {% endif %}
                </h1>
            </div>

            <span>@{{user.username}}</span>
        </div>

        <div class="about">
            <div class="box">
                <h3>...</h3>
                <span>Posts</span>
            </div>
            <div class="box">
                <h3></h3>
                <span></span>
            </div>
            <div class="box">
                <h3></h3>
                <span>Posts</span>
            </div>
        </div>

    </div>
    <div class="profile-home"></div>
    
    <!-- PROFILE -->
    <div class="profile">
        <!-- INFOR-USER -->
        <div class="avatar">
            <img src="{{user.avatar.url}}" width="80" height="80" class="profile_avatar">
        </div>
        <div class="name_container">
            <div class="name"> 
                {%if user.first_name%}
                    <p>{{user.first_name}} {{user.last_name}} </p>
                {%else%}
                    <p>No name yet </p>
                {% endif %}
            </div>
            <div class="username">
                <p class="">@{{user.username}}</p>
            </div>
        </div>

        <!-- EDIT-USER-PROFILE -->
        <div class="right">
            {% if request.user == user %}
                <a href="profile_edit/" class="edit">
                    <p style="padding-top: 7px; padding-left: 4px;">Edit profile</p>
                </a>
            {%else%}
            <div class="padding">
                {% if not is_blocked%}
                    <form method="post" action="{% url 'block_user' id=user.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="block">
                        <button type="submit" class="button">Block</button >
                    </form>
                {% else %}
                    <form method="post" action="{% url 'block_user' id=user.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="unblock">
                        <button type="submit" class="button">Unblock</button>
                    </form>
                {% endif %}
            </div>
                <form method = "POST">
                    {% csrf_token %}
                    {% if request.user in user.followed_by.all %}
                        <button type = "submit" class="button red_btn">
                            Unfollow user
                        </button>
                    {%else%}   
                        <button type = "submit" class="button green_btn">      
                            Follow user
                        </button>
                    {%endif%}
                </form>
            {%endif%}
            <p>Followers: {{user.followed_by.count}}</p><br>
            <p>Following: {{user.follows.count}}</p>

            <div class="bio_container">
                <p>{{user.bio}}</p>
            </div>
            {% if request.user == user %}
            <hr class="line">
        </div>
    </div>

    <div class="container">
        <!-- PROFILE-CREATE_POST -->
        <div class="create_container">
            <div class="box">
                <form action="" method="POST" enctype="multipart/form-data">
                    <p style="font-weight: bold; font-size:25px;">Create a post</p>
                    {% csrf_token %}
                    <p>
                        <textarea name="content" class="input_content" placeholder="What's on your mind?" required></textarea>
                    </p>
                    <p>
                        {{postform.image}}
                    </p>
                    <div>
                        <button type="submit" class="btn btn-primary" name="submit_postform">
                            Create post
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        <div>
            {% for item in st %}
            <div class="post_container">
                <div class="post" >
                    <div class="header">
                        <div class="user_name">
                            <a href="/user_page/{{item.author.id}}" class="name" >
                                <img src="{{item.author.avatar.url}}" style="width: 3rem; aspect-ratio: 1/1; border-radius: 50%; overflow: hidden;"> 
                            </a> 
                            <div>
                                <a href="/user_page/{{item.author.id}}" class="name">{{item.author.first_name}} {{item.author.last_name}}</a>
                                <a href="/user_page/{{item.author.id}}" class="mention">
                                    @{{item.author.username}}
                                </a>
                            </div>
                        </div>
                        <div class="right">
                            {{item.created|timesince}} ago
                            <span class="edit">
                                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                            </span>
                        </div>
                    </div>
    
                    <!-- CONTENT-POST -->
                    <div class="content">
                        <div class="post_content">
                            {{item.content|linebreaks}}
                        </div>
                        <div>
                            {% if item.image != '' %}
                                <img src="{{item.image.url}}" class="post_image">
                            {% endif %}
                        </div>
    
                    </div>
    
                    <!-- INTERACT-POST -->
                    <div class="interact">
                        <div class="interact_button">
                            <span><ion-icon name="heart-outline"></ion-icon></span>
                            <span><ion-icon name="chatbox-ellipses-outline"></ion-icon></span>
                            <span><ion-icon name="share-social-outline"></ion-icon></span>
    
                            <form action="{% url 'like_post' %}" method="POST" id="{{item.id}}" class="like-form">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{item.id}}>
                                <button type="submit"  class="like-btn{{item.id}}">
                                    {% if request.user in item.liked.all %}
                                        Unlike 
                                    {% else %}
                                        Like
                                    {% endif %}
                                </button>
                                <div class="like-count{{item.id}}">{{item.liked.count}}</div>
                            </form>
                        </div>
    
                        <div class="bookmark">
                            <span><ion-icon name="bookmark-outline"></ion-icon></span>
                        </div>
                    </div>
        
                    <!-- VIEW-POST -->
                    <div class="view-post">
                        <div class="comments text-muted">View all ... comments</div>
                    </div>
                </div>
            </div>
    </div>    
        {% endfor %}
    </div>


{%endblock content%}